.input{
    background: linear-gradient(to bottom, #7251B5, #D2B7E5);
    height: 85vh;
    border-radius: 10px;
    font-size: 25px;
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

.ask{
    background-color: #f9c74f;
    width: 70%;
    margin: 10px auto;
    text-align: center;
}

.zipCode{
    width: 100%;
    margin: auto;
    padding: 5px;
    display: grid;
    justify-items: center;
    border-radius: 10px;
}

input{
    background-color: #f3de8a;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
}

input:focus{
    outline: none;
    background-color: #fff;
}

/* Lower half of the input section  */
.middle{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    align-items: left;
    line-height: 60px;
}

.middle p {
    margin: 10px auto;
    font-size: 18px;
    text-align: center;
    background-color: #f9c74f;
}

.options{
    margin: 10px auto;
    padding: 10px ;
}

button{
    width: 70%;
    height: 5rem;
    margin: 25px auto;
    padding: 10px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    background-color: #f9c74f;
    color: #081C15;
    border-radius: 30px;
    letter-spacing: 5px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px 20px 5px #081C15;
    transition: box-shadow 0.5s ease-out;
}
button:focus{
    outline: none;
}