.input{
    background: linear-gradient(to bottom, #7251B5, #D2B7E5);
    height: 85vh;
    border-radius: 10px;
    /* box-shadow: 0px 0px 15px 2px #081C15; */
    font-size: 25px;
    display: grid;
}

.ask{
    background-color: #f9c74f;
}

.zipCode{
    width: 25rem;
    margin: 20px;
    padding: 20px;
    display: grid;
    justify-items: center;
    /* box-shadow: 0px 0px 5px 2px #081C15; */
    border-radius: 10px;
}

input{
    font-family: 'Roboto', sans-serif;
    background-color: #f3de8a;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
}

input:focus{
    outline: none;
    background-color: #fff;
}

/* Lower half of the input section  */
.middle{
    width: 25rem;
    margin: 10px;
    padding: 18px;
    align-items: left;
    line-height: 40px;
}

.middle p {
    width: 21rem;
    font-size: 18px;
    background-color: #f9c74f;
    /* background-color: #ddbea9; */
}

.options{
    padding-top: 40px;
    line-height: 60px;
}

button{
    width: 19rem;
    height: 5rem;
    margin: 20px 60px;
    padding: 20px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    background-color: #f9c74f;
    color: #081C15;
    border-radius: 30px;
    letter-spacing: 5px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px 20px 5px #081C15;
    transition: box-shadow 0.5s ease-out;
}
button:focus{
    outline: none;
}