@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './input.css';
@import './output.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', cursive;
    letter-spacing: 4px;
    background-color: #D2B7E5;
    margin:20px 0px;
}

#card{
    display: grid;
    width: 100%;
    height: 90vh;
    grid-template-columns: 33% 66%;
    grid-gap: 15px;
}

@media(max-width: 740px){
    #card{
        width: 100%;
        grid-template-columns: auto;
    }
    /* INPUT SIDE STYLES  */
    .ask{
        width: 100%;
        text-align: center;
        height: 30px;
        font-size: 22px;
    }
    input{
        margin: 0;
        padding: 0;
        border-radius: 3px;
    }
    .input{
        height: 50vh;
        width: 25rem;
    }
    .zipCode{
        width: 23rem;
        box-shadow: none;
    }
    button{
        margin: 0;
        padding: 0;
        width: 98%;
        height: 100%;
        font-size: 20px;
        border-radius: 0;
        border-bottom-left-radius:10px ;
        border-bottom-right-radius: 10px;
    }
    
    button:hover{
        box-shadow: none;
    }

    .middle{
        display: none;
    }

    /* OUTPUT SIDE STYLING  */
    .mainTemp{
        width: 25rem;
        height: 65vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    .mainTemperature{
        font-size: 6rem;
    }
    
    .others{
        display: none;
    }
}