@import './input.css';
@import './output.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', cursive;
    letter-spacing: 4px;
    background: linear-gradient(to bottom, #D2B7E5, #DEC9E9);
    background-color: #A06CD5;
    color:#343A40;
    overflow: hidden;
    margin: 20px;
}

#card{
    display: grid;
    grid-template-columns: 30rem auto;
    grid-gap: 20px;
}