.output{
    font-family: 'Roboto', sans-serif;
    color: #212529;
    display: grid;
    grid-template-rows: 25.5rem 25.5rem ;
    grid-gap: 15px;
}

.mainTemp {
    padding: 30px;
    background: linear-gradient(to bottom, #7251B5, #D2B7E5);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px #444;
}

.tempIcon{
    color: #293241;
}

.others {
    background: linear-gradient(to bottom, #D2B7E5, #DEC9E9);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px #444;
    display: grid;
    grid-template-columns: 33% 33% auto;
    justify-items: center;
}

/* JS CLASSES STYLE  */
.date{
    display: block;
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 15px;
    width: 12rem;
    border-radius: 10px;
    background-color: #ffbf69;
}

.cityName{
    display: block;
    width: 20rem;
    margin: 5px;
    padding: 5px;
    /* border-bottom: 3px solid #343A40; */
}

.mainTemperature{
    margin: 10px;
    font-family: 'Patua One', cursive;
    font-size: 8rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

.currentClimate{
    font-size: 2rem;
    font-weight: light;
    border-top: 3px solid #343A40;
    border-bottom: 3px solid #343A40;
    opacity: 0.85;
}

.dummyCode{
    padding-top: 15px;
    opacity: 0.85;
    font-weight: 3px;
}