.output{
    color: #081C15;
    display: grid;
    grid-template-rows: 23.5rem 23.5rem ;
    grid-gap: 15px;
}

.mainTemp {
    padding: 10px 20px 20px 20px;
    /* background: linear-gradient(to bottom, #7251B5, #D2B7E5); */
    /* background: linear-gradient(to bottom, #2E3192, #1BFFFF); */
    background: linear-gradient(to bottom, #11998E, #38EF7D);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px #081C15;
}

.tempIcon{
    margin-right: 3rem;
    color: #081C15;
}

/* JS CLASSES STYLE  */
.date{
    display: block;
    text-align: center;
    margin-left: 45rem;
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 15px;
    width: 14rem;
    border-radius: 10px;
    background-color: #b0ffb0;
}

.cityName{
    display: block;
    width: 20rem;
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.mainTemperature{
    margin: 10px;
    font-size: 8rem;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
}

.currentClimate{
    font-size: 2rem;
    font-weight: light;
    border-top: 3px solid #343A40;
    border-bottom: 3px solid #343A40;
    opacity: 0.85;  
}

.dummyCode{
    padding-top: 25px;
    opacity: 0.75;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

.lat_lon{
    padding-right: 2rem;
}

/* Lower Bottom Styles  */
.others {
    /* background: linear-gradient(to bottom, #D2B7E5, #DEC9E9); */
    /* background: linear-gradient(to top, #2E3192, #1BFFFF); */
    background: linear-gradient(to top, #11998E, #38EF7D);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px #081C15;
    display: grid;
    grid-template-columns: 33% 33% auto;
    justify-items: center;
}

.othersDiv{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.tempHead{
    font-size: 30px;
    font-weight: normal;
    border-bottom: 2px solid #081C15;
}

.minIcon{
    font-size: 7rem;
    font-weight: lighter;
}

.tempHeadText{
    font-size: 2rem;
    font-weight: normal;
    border-top: 2px solid #081C15;
    border-bottom: 2px solid #081C15;
}