.output{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
}

.main {
    background: linear-gradient(to bottom, #7251B5, #D2B7E5);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px #444;
}
.others {
    background: linear-gradient(to bottom, #D2B7E5, #DEC9E9);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px #444;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
}

