.output{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
}

.main{
    /* background: linear-gradient(to top, #950ec2, #c777e2); */
    background-color: #014f86;
    border-radius: 10px;

}

.others{
    /* background: linear-gradient(to bottom, #950ec2, #c777e2); */
    background-color: #014f86;

    border-radius: 10px;
}